// text color
.text-white{
    color: white;
}
.text-orange{
    color: #ffd40b;
}
.text-gray{
    color: #c1c1c1;
}
.text-green{
    color: #63c8d2;
}
.text-black-light{
    color: #333333;
}

// bg color
.bg-green-dark{
    background-color: #255b69;
}
.bg-gray{
    background-color: #eeeeee;
}
.bg-gray-dark{
    background-color: #a3a3a3;
}
.bg-green{
    background-color: #63c8d2;
}